.jumbotron {
    background-image: url("images/backgroundleaves.jpg");
    background-size: cover;
    min-height: 300px;
    text-align: center;

  };
 
  body {
    /* background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover; */
    background: green !important;
  }

  #header1 {
    text-align: center;
  }

  h4 {
      text-align: center;
      padding-bottom:1%;
      padding-bottom:1%;
  }

  .card {
      padding: 2%;
  }
  
  .row {
      padding-left: 9%;
      padding-bottom: 5%;
  }

  .instabtn {
      background-color: rgb(250, 101, 126);
  }