.jumbotron1 {
    background-image: url("images/backgroundleaves.jpg");
    background-size: cover;
    min-height: 300px;
    text-align: center;
  };

  #header1 {
    text-align: center;
  }

  h4 {
      text-align: center;
      padding-bottom:1%;
      padding-bottom:1%;
  }

  .instabtn {
      background-color: rgb(250, 101, 126);
  }

  .footer {
    padding: 1%;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-color:rgb(255, 79, 79);
    color: white;
}

#featuredtext {
    padding-bottom: 2%;
}

h6 {
    text-align: center;
}

#insta-logo {
    text-align: center;
}

#price-sale {
    text-align: center;
}

.caption {
    padding: 2%;
}

#featuredtext {
    padding-bottom: 2%;
}

#catalog {
    padding-bottom: 2%;
}

#bottombtn {
    text-align: center;
    padding: 3%;
}

#imgcatalog {
    display: block;
    padding-left: 36%;
    /* margin-left: 36%;
    margin-right: 80%; */
    padding-top: 3%;
}

#descripbtn {
    text-align: center;
    padding-bottom: 3%;
}

/* #itemdescription {
    right: 50%;
    left: 50%;
} */

/* payment method CSS */

body {
    background: #f5f5f5
}

.rounded {
    border-radius: 1rem
}

.nav-pills .nav-link {
    color: #555
}

.nav-pills .nav-link.active {
    color: white
}

input[type="radio"] {
    margin-right: 5px
}

.bold {
    font-weight: bold
}